:root {
    --bg-color-one: rgb(177, 175, 155);
    --bg-color-two: rgb(167, 165, 148);
    --bg-color-three: rgb(182, 177, 155);

    --text-color-one: rgb(230, 225, 212);

    --border-color-primary: rgb(143, 143, 143);
    --border-color-secondary: rgb(114, 114, 114);
    --border-radius: 15px;
}